#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

anomalia_termica = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
anomaliaSemIndex = pd.Series(anomalia_termica)
anomaliaSemIndex

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [2]:

anomaliaComIndex = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02], 
                             index=['1900','1920','1940','1960','1980','2000','2020'])
anomaliaComIndex

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [3]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

dic_temperaturasSeries = pd.Series(dic_temperaturas)
dic_temperaturasSeries

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [4]:
arr = np.random.normal(5, 1, (21,3))
df=pd.DataFrame(arr)
df

           0         1         2
0   6.365540  6.023511  3.548987
1   5.456718  5.936023  5.047942
2   4.848385  5.356200  5.786327
3   4.655868  4.549455  5.779480
4   6.553851  5.388881  5.399088
5   5.589910  5.506408  5.299473
6   5.177324  5.331310  4.939316
7   5.433811  5.701095  4.045344
8   2.741912  4.430950  5.708700
9   5.567248  4.697387  4.859053
10  5.629101  4.923817  6.638286
11  7.445560  4.787761  4.629184
12  8.037231  4.648746  4.734861
13  5.440732  5.795435  2.902780
14  4.161462  5.916089  4.978375
15  5.888342  5.239155  5.686982
16  5.020550  5.826316  4.615931
17  5.493656  5.620573  5.180733
18  6.305372  5.328241  5.690703
19  5.692294  4.153936  4.776521
20  6.255293  7.971426  5.423196

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [15]:
df = pd.DataFrame(np.random.normal(5, 1, (21,3)), columns=['x1', 'x2', 'x3'])
df

          x1        x2        x3
0   4.546402  3.710786  3.884419
1   4.351718  5.251348  3.579480
2   5.696960  5.140403  5.539148
3   5.212033  5.055470  5.032626
4   4.275814  5.176665  5.540913
5   4.799645  3.877722  4.556661
6   3.596987  3.924659  6.273578
7   4.785348  3.056192  4.105790
8   3.898327  6.487733  4.153549
9   5.920782  5.577014  4.617916
10  4.563738  4.141602  4.577189
11  5.135503  4.041102  5.316228
12  6.350201  5.831924  6.239143
13  5.259480  2.797797  3.460014
14  3.577656  6.099532  4.989842
15  4.236530  6.121415  5.470103
16  4.918114  5.596848  3.673553
17  4.688595  5.442284  5.588947
18  4.627546  4.767248  5.148782
19  4.484882  5.129872  2.926978
20  6.016950  4.781917  3.885306

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [16]:
df['media'] = (df['x1']+df['x2']+df['x3'])/3
df

          x1        x2        x3     media
0   4.546402  3.710786  3.884419  4.047202
1   4.351718  5.251348  3.579480  4.394182
2   5.696960  5.140403  5.539148  5.458837
3   5.212033  5.055470  5.032626  5.100043
4   4.275814  5.176665  5.540913  4.997797
5   4.799645  3.877722  4.556661  4.411343
6   3.596987  3.924659  6.273578  4.598408
7   4.785348  3.056192  4.105790  3.982443
8   3.898327  6.487733  4.153549  4.846537
9   5.920782  5.577014  4.617916  5.371904
10  4.563738  4.141602  4.577189  4.427509
11  5.135503  4.041102  5.316228  4.830944
12  6.350201  5.831924  6.239143  6.140423
13  5.259480  2.797797  3.460014  3.839097
14  3.577656  6.099532  4.989842  4.889010
15  4.236530  6.121415  5.470103  5.276016
16  4.918114  5.596848  3.673553  4.729505
17  4.688595  5.442284  5.588947  5.239942
18  4.627546  4.767248  5.148782  4.847859
19  4.484882  5.129872  2.926978  4.180578
20  6.016950  4.781917  3.885306  4.894724

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [17]:
df['log_med'] = (log['x3'])
df

NameError: name 'log_med' is not defined